<section class="container-large">
    <div class= "row justifi-content-start">
      <div class=" imagenportada col-xl-2 col-md-3 col-sm-12 align-items-center">
        <img src="./assets/WhatsApp Image 2022-11-25 at 08.42.29.jpeg"   alt="fotoperfil"   class="container__foto">
      </div>

      <div class="container__nombre col-xl-5  col-md-7 col-sm-12 ">
          <h4 class="container__nombre-h4">{{miPorfolio.name}}</h4>
          <h5 class="container__nombre-h5"> developer</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Minus quis quisquam asperiores et quo non, tempora eligendi illum, 
          commodi soluta sequi voluptatem harum, voluptatibus ratione laborum voluptatum! Praesentium, magnam in!</p>
        </div>
    
      <div class="container3 col-xl-5 col-sm-12">
        <div class="container__conocimiento">
          <h4 class="container__conocimiento-h4"> Mis conocimientos</h4>
          <ul >
          <li>html</li>
          <li>java</li>
          <li>css</li>
          <li>javascrip</li>
          <li>react</li>
          <li>my sql</li>
          </ul>
        </div>
      </div>
    </div>
     
</section>
